.main-navbar {
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: rgba(0, 33, 71, 0.7);
    width: 100%;
    position: fixed;
    z-index: 3;
}

.nav-title {
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
}

.title-btn {
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn-1 {
    display: flex;
    gap: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--orange-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 400;
}

.btn-1>p {
    color: whitesmoke;
}

.nav-quote {
    color: whitesmoke;
}

.btn-2 {
    background-color: var(--orange-color);
    font-weight: 500;
    color: var(--blue-color);
    text-decoration: none;
}

.navbar-logo {
    width: 290px;
    height: 55px;
}

.navbar {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.nav-list {
    display: flex;
    gap: 25px;
}

.nav-list a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}

.hamburger {
    display: none;
}

.hamburgerIcon {
    color: whitesmoke;
}

.hamburger-List {
    position: fixed;
    left: -50vw;
    top: 54.9px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.7);
    transition: left 0.3s ease-in-out;
}

.hamburger-List.open {
    left: 0;
}

.hamburger-List a {
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width:800px) {
    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburgerIcon {
        display: block;
    }
}

@media (max-width:600px) {
    .nav-title {
        display: none;
    }

    .navbar-logo {
        width: 220px;
        height: 45px;
    }
}